<% layout('layouts/boilerplate') %> 
<div id="map" style="width: 100%; height: 500px"></div>
<h1>All Windowshops</h1>
<div>
    <a href="/windowshops/new">Add a WindowShop</a>
</div>

<div>
    <% for (let windowshop of windowshops) {%>
        <div class="card" mb-3>
            <div class="row">
                <div class="col-md-4">
                    <%if(windowshop.images.length) {%>
                        <img class="img-fluid" alt="" src="<%=windowshop.images[0].url%>">
                        <% }else {%>
                        <img class="img-fluid" alt=""
                            src="https://res.cloudinary.com/douqbebwk/image/upload/v1600103881/YelpCamp/lz8jjv2gyynjil7lswf4.png">
                        <% } %>
                </div>
                <div class="col-md-8">
                    <div class="card-body">
                        <h5 class="card-title">
                            <%= windowshop.title %> 
                        </h5>
                        <p class="card-text">
                            <%= windowshop.description %> 
                        </p>
                        <p class="card-text">
                            <%= windowshop.location %> 
                        </p>
                        <a href="/windowshops/<%= windowshop._id %> " class="btn btn-primary"> View Windowshop</a>
                    </div>
                </div>
            </div>
        </div>
        <% } %> 
</div>
    
<script>
    const mapToken = '<%-process.env.MAPBOX_TOKEN%>';
    const windowshops = { features: <%- JSON.stringify(windowshops) %>}
</script>

<script src="/javascripts/clusterMap.js"></script>
