<% layout('layouts/boilerplate')%>

<div class="row">
    <div class="col-12">
        <div class="card mb-3">
            <img src="<%= windowshop.image%>" class="card-img-top" alt="...">
            <div class="card-body">
                <h5 class="card-title"><%= windowshop.title%></h5>
                <p class="card-text"><%= windowshop.description%></p>
            </div>
            <ul class="list-group list-group-flush">
                <li class="list-group-item text-muted"><%= windowshop.location%></li>
                <li class="list-group-item">$<%= windowshop.price%>/night</li>
            </ul>
            <div class="card-body">
                <a class="card-link btn btn-info" href="/windowshops/<%=windowshop._id%>/edit">Edit</a>
                <form class="d-inline" action="/windowshops/<%=windowshop._id%>?_method=DELETE" method="POST">
                    <button class="btn btn-danger">Delete</button>
                </form>
            </div>
            <div class="card-footer text-muted">
                2 days ago
            </div>
        </div>
    </div>
    <div class="col-12">
        <div>
            <p>
                <button class="btn btn-primary" type="button" data-bs-toggle="collapse" data-bs-target="#collapseExample" aria-expanded="false" aria-controls="collapseExample">
                  Reviews
                </button>
              </p>
              <div class="collapse" id="collapseExample">
                <div class="card card-body">
                  <h2>Leave a Review</h2>
            <form action="/windowshops/<%= windowshop._id %>/reviews " method="POST" class="mb-3 validated-form" novalidate>
                <div class="mb-3" for="rating" >
                    <label class="form-label" for="rating">Rating</label>
                    <input class="form-range" type="range" min="1" max="5" name="review[rating]" id="rating">
                </div>
                <div class="mb-3">
                    <label class="form-label" for="body">Review</label>
                    <textarea class="form-control" name="review[body]" id="body" cols="30" rows="3" required></textarea>
                    <div class="valid-feedback">
                        Looking good!
                    </div>
                </div>
                <button class="btn btn-success">Submit</button>
            </form>
            <% for (let review of windowshop.reviews) { %> 
                <div class="card mb-3">
                    <div class="mb-3 card-body">
                        <h5 class="card-title">Rating: <%= review.rating %></h5>
                        <p class="card-text">Review: <%= review.body %></p>
                        <form action="/windowshops/<%=windowshop._id%>/reviews/<%=review._id%>?_method=DELETE" method="POST">
                            <button class="btn btn-sm btn-danger">DELETE</button>
                        </form>
                    </div>
                </div>
             <% } %>
                </div>
              </div>
            
        </div>
    </div>
    <div class="col-12">
        <p>
            <button class="btn btn-primary" type="button" data-bs-toggle="collapse" data-bs-target="#collapseExample1" aria-expanded="false" aria-controls="collapseExample1">
              Add a Product
            </button>
          </p>
          <div class="collapse" id="collapseExample1">
            <div class="card card-body">
                <form action="/windowshops/<%= windowshop._id %>/products " method="POST" class="mb-3 validated-form" novalidate>
                    <div class="mb-3">
                    <label class="form-label" for="title">Title</label>
                    <input class="form-control" type="text" id="title" name="product[title]" required>
                    <div class="valid-feedback">
                        Looks good!
                    </div>
                </div>
                <div class="mb-3">
                    <label class="form-label" for="title">Image</label>
                    <input class="form-control" type="text" id="title" name="product[image]" required>
                    <div class="valid-feedback">
                        Looks good!
                    </div>
                </div>
                <div class="mb-3">
                    <label class="form-label" for="title">$</label>
                    <input class="form-control" type="text" placeholder="0.00" id="title" name="product[price]" required>
                    <div class="valid-feedback">
                        Looks good!
                    </div>
                </div>
                <div class="mb-3">
                    <label class="form-label" for="title">Description</label>
                    <input class="form-control" type="text" id="title" name="product[description]" required>
                    <div class="valid-feedback">
                        Looks good!
                    </div>
                </div>
                <button class="btn btn-success">Submit Product</button>
                </form>
            </div>
          </div>
          <% for (let product of windowshop.products) { %>
            <div class="card mb-3">
                <div class="mb-3 card-body">
                    <h5 class="card-title"><%= product.title %> </h5>
                    <img src="<%= product.image %> " alt="...">
                    <p class="card-text">Price: <%= product.price %> </p>
                    <p class="card-text">Description: <%= product.description  %> </p>

                </div>
            </div>
            <% } %>  
    </div>
</div>