<% layout('layouts/boilerplate')%>
<link rel="stylesheet" href="/stylesheets/stars.css">

<div class="row">
    <div class="col-12">


        <div id="carouselExampleControls" class="carousel slide" data-bs-ride="carousel">
            <div class="carousel-inner">
              <% windowshop.images.forEach((img, i) => { %> 
                <div class="carousel-item <%= i === 0 ? 'active' : '' %> ">
                    <img src="<%= img.url %> " class="d-block w-100" alt="...">
                  </div>
                <% }) %> 
            </div>
            <% if(windowshop.images.length > 1) {%>     
            <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleControls" data-bs-slide="prev">
              <span class="carousel-control-prev-icon" aria-hidden="true"></span>
              <span class="visually-hidden">Previous</span>
            </button>
            <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleControls" data-bs-slide="next">
              <span class="carousel-control-next-icon" aria-hidden="true"></span>
              <span class="visually-hidden">Next</span>
            </button>
            <% } %> 
          </div>



        <!-- <div id="windowshopCarousel" class="carousel slide" data-bs-ride="carousel">
            <div class="carousel-inner">
                <% windowshop.images.forEach((img, i) => {  %>
                <div class="carousel-item <%= i === 0 ? 'active' : ''%>">
                    <img src="<%= img.url%>" class="d-block w-100" alt="">
                </div>
                <% }) %>

            </div>
            <% if(windowshop.images.length > 1) {%>
            <a class="carousel-control-prev" href="#windowshopCarousel" role="button" data-slide="prev">
                <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                <span class="sr-only">Previous</span>
            </a>
            <a class="carousel-control-next" href="#windowshopCarousel" role="button" data-slide="next">
                <span class="carousel-control-next-icon" aria-hidden="true"></span>
                <span class="sr-only">Next</span>
            </a>
            <% } %>
        </div> -->


        <div class="card mb-3">
            <div class="card-body">
                <h5 class="card-title"><%= windowshop.title%></h5>
                <p class="card-text"><%= windowshop.description%></p>
            </div>
            <ul class="list-group list-group-flush">
                <li class="list-group-item text-muted"><%= windowshop.location%></li>
                <li class="list-group-item ">submitted by: <%= windowshop.author.username%></li>
                <li class="list-group-item">$<%= windowshop.price%>/night</li>
            </ul>
            <% if( currentUser && windowshop.author.equals(currentUser._id)) {%>
                <div class="card-body">
                <a class="card-link btn btn-info" href="/windowshops/<%=windowshop._id%>/edit">Edit</a>
                <form class="d-inline" action="/windowshops/<%=windowshop._id%>?_method=DELETE" method="POST">
                    <button class="btn btn-danger">Delete</button>
                </form>
            </div>
                <% } %>  
            
            <div class="card-footer text-muted">
                2 days ago
            </div>
        </div>
    </div>
    <div class="col-12">
        <div>
            <p>
                <button class="btn btn-primary" type="button" data-bs-toggle="collapse" data-bs-target="#collapseExample" aria-expanded="false" aria-controls="collapseExample">
                  Reviews
                </button>
              </p>
              <% if(currentUser) {%> 
              <div class="collapse" id="collapseExample">
                <div class="card card-body">
                  <h2>Leave a Review</h2>
            <form action="/windowshops/<%= windowshop._id %>/reviews " method="POST" class="mb-3 validated-form" novalidate>
                
                <fieldset class="starability-basic">
                    <input type="radio" id="no-rate" class="input-no-rate" name="review[rating]" value="1" checked
                        aria-label="No rating." />
                    <input type="radio" id="first-rate1" name="review[rating]" value="1" />
                    <label for="first-rate1" title="Terrible">1 star</label>
                    <input type="radio" id="first-rate2" name="review[rating]" value="2" />
                    <label for="first-rate2" title="Not good">2 stars</label>
                    <input type="radio" id="first-rate3" name="review[rating]" value="3" />
                    <label for="first-rate3" title="Average">3 stars</label>
                    <input type="radio" id="first-rate4" name="review[rating]" value="4" />
                    <label for="first-rate4" title="Very good">4 stars</label>
                    <input type="radio" id="first-rate5" name="review[rating]" value="5" />
                    <label for="first-rate5" title="Amazing">5 stars</label>
                </fieldset>
                <div class="mb-3">
                    <label class="form-label" for="body">Review</label>
                    <textarea class="form-control" name="review[body]" id="body" cols="30" rows="3" required></textarea>
                    <div class="valid-feedback">
                        Looking good!
                    </div>
                </div>
                <button class="btn btn-success">Submit</button>
            </form>
            <% } %> 
            <% for (let review of windowshop.reviews) { %> 
                <div class="card mb-3">
                    <div class="mb-3 card-body">
                        <h5 class="card-title"> <%= review.author.username%></h5>
                        <p class="starability-result" data-rating="<%=review.rating%>">
                    Rated: <%= review.rating %> stars
                </p>
                <p class="card-text">Review: <%= review.body %></p>
                        
                        <% if( currentUser && review.author.equals(currentUser._id)) {%>
                        <form action="/windowshops/<%=windowshop._id%>/reviews/<%=review._id%>?_method=DELETE" method="POST">
                            <button class="btn btn-sm btn-danger">DELETE</button>
                        </form>
                        <% } %> 
                    </div>
                </div>
             <% } %>
                </div>
              </div>
            
        </div>
    </div>
    <div class="col-12">
        <p>
            <button class="btn btn-primary" type="button" data-bs-toggle="collapse" data-bs-target="#collapseExample1" aria-expanded="false" aria-controls="collapseExample1">
              Products
            </button>
          </p>
          <% if( currentUser && windowshop.author.equals(currentUser._id)) {%>
          <div class="collapse" id="collapseExample1">
            <div class="card card-body">
                <form action="/windowshops/<%= windowshop._id %>/products " method="POST" class="mb-3 validated-form" novalidate>
                    <div class="mb-3">
                    <label class="form-label" for="title">Title</label>
                    <input class="form-control" type="text" id="title" name="product[title]" required>
                    <div class="valid-feedback">
                        Looks good!
                    </div>
                </div>
                <div class="mb-3">
                    <label class="form-label" for="title">Image</label>
                    <input class="form-control" type="text" id="title" name="product[image]" required>
                    <div class="valid-feedback">
                        Looks good!
                    </div>
                </div>
                <div class="mb-3">
                    <label class="form-label" for="title">$</label>
                    <input class="form-control" type="text" placeholder="0.00" id="title" name="product[price]" required>
                    <div class="valid-feedback">
                        Looks good!
                    </div>
                </div>
                <div class="mb-3">
                    <label class="form-label" for="title">Description</label>
                    <input class="form-control" type="text" id="title" name="product[description]" required>
                    <div class="valid-feedback">
                        Looks good!
                    </div>
                </div>
                <button class="btn btn-success">Submit Product</button>
                </form>
            </div>
          </div>
          <% } %> 
          <% for (let product of windowshop.products) { %>
            <div class="card mb-3">
                <div class="mb-3 card-body">
                    <h5 class="card-title"><%= product.title %> </h5>
                    <img src="<%= product.image %> " alt="...">
                    <p class="card-text">Price: <%= product.price %> </p>
                    <p class="card-text">Description: <%= product.description  %> </p>

                    <p>
                        <button class="btn btn-primary" type="button" data-bs-toggle="collapse" data-bs-target="#collapseExample2" aria-expanded="false" aria-controls="collapseExample2">
                          Comments
                        </button>
                      </p>
                      <% if( currentUser) {%>
                      <div class="collapse" id="collapseExample2">
                        <div class="card card-body">
                            <form action="/windowshops/<%= windowshop._id %>/products/<%= product._id %>/comments" method="POST" class="mb-3 validated-form" novalidate>
                            <div class="mb-3">
                                <label class="form-label" for="title">Comment</label>
                                <input class="form-control" type="text" id="comment" name="comment[body]" required>
                                <div class="valid-feedback">
                                    Looks good!
                                </div>
                            </div>
                            <button class="btn btn-success">Submit Comment</button>
                            </form>
                        </div>
                      </div>
                      <% } %> 
                      <% for (let comment of product.comments)  {%> 
                        <h6 class="card-subtitle mb-2 text-muted"><%= comment.author %> </h6>
                        <p><%= comment.body %></p>
                        <% if( currentUser && windowshop.author.equals(currentUser._id)) {%>
                        <form action="/windowshops/<%=windowshop._id%>/products/<%=product._id%>/comments/<%=comment._id%>?_method=DELETE" method="POST">
                            <button class="btn btn-sm btn-danger">DELETE</button>
                        </form>
                        <% } %> 
                        <% } %> 
                </div>
            </div>
            <% if( currentUser && product.author.equals(currentUser._id)) {%>
            <form action="/windowshops/<%=windowshop._id%>/products/<%=product._id%>?_method=DELETE" method="POST">
                <button class="btn btn-sm btn-danger">DELETE</button>
            </form>
            <% } %> 
            <% } %>  
    </div>
</div>